* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#notice {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  min-width: 768px;
  padding: 40px 20px;
  box-sizing: border-box;
}

#notice>h1 {
  font-size: 36px;
  margin-bottom: 40px;
}

table {
  width: 100%;
  /*table 요소의 안쪽 여백들을 제거*/
  border-collapse: collapse;
}

th {
  border-top: 2px solid #111;
  border-bottom: 1px solid #111;
  font-size: 16px;
  height: 60px;
}

td {
  border-bottom: 1px dotted #999;
  font-size: 14px;
  position: relative;
}

td:first-child {
  padding: 20px 0 20px 44px;
}

td:last-child {
  text-align: center;
}

/*동그라미*/
td:first-child::after {
  content: "";
  /*가짜속성*/
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  background-color: #111;
  border-radius: 50%;
  left: 20px;
  top: 50%;
  /*margin-top: -2px;*/
  transform: translateY(-2px);
}

/*페이지네이션*/
.pagination {
  min-width: 768px;
  max-width: 1200px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.pagination-wrap{display: inline-block;
}

.pagination a {
  float: left;
  padding: 8px 16px;
}

.pagination a.active{background-color:seagreen;
color:#fff;}
/*호버효과*/
.pagination a:hover:not(.active /*클래스가 엑티브인것을 제외하 모든 a요소를 선택?*/) {background-color: #ddd;}