@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/*노말라이즈*/
*{
  margin:0; padding:0;
}
ul,li{
  list-style:none;
}
a{
  text-decoration: none;
}
body{
  background-color:#efefef;
}

header{
  width:400px;
  height:100%;
  position:fixed;
  top:0; left:0;
  background:linear-gradient(45deg, aqua, royalblue);
  transition:all .5s;
}

/*로고*/
header h1{
  font: bold 50px/1 "Orbitron";
  color:#fff;
  letter-spacing: 1px;
  position:absolute;
  left:50px;
  top:50%;
  transform:translateY(-150%);
}

header h1::after{
  content:"";
  display:block;
  width:150px;
  height:2px;
  background:#fff;
  margin-top:20px;
}

header h1::before{
  content : "UI/UX DEVELOPMENT";
  display:block;
  font-size:14px;
  line-height:1;
  font-weight: normal;
  position:absolute;
  left:0;
  top:140px;
  letter-spacing: 2px;
}

/*sns버튼*/
header ul{
  position:absolute;
  left:40px;
  bottom:100px;
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}
header ul li a{
  font-size:20px;
  color:#fff;
}
header ul li a span{
  display:inline-block;
  font-weight: bold;
  opacity:0.7;
  transform:scale(0.7) translateX(-10px);/*70%로 축소하고 왼쪽으로 10px만큼 이동*/
}

main{
  margin-left:400px;/*header옆으로 배치*/
  box-sizing: border-box;
  padding:20px;
}

main section{
  width:100%;
}

main section::after{/*클리어픽스 핵*/
  content:"";
  display:block;
  clear:both;
}
main section article{
  width:20%;
  float:left;
  box-sizing:border-box;
  padding:12px;
}

main section article div{
  width:100%;
  height:100%;
  background-color:#fff;
  border-radius: 4px;
  padding:14px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}

main section article div img{
  width:100%;
}

main section article div h2{
  margin-top:15px;
  font:bold 11px/1 "Orbitron";
  letter-spacing: 1px;
  color:#444;
  margin-bottom:5px;
}

main section article div p{
  font: 10px/1.2 Arial;
  color:#777;
  margin-bottom:15px;
}

main ul li{
  float:right;
  margin-right: 20px;
  width: 100px;
  height: 26px; 
}

main ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font: bold 10px/26px "Orbitron";
  color:#aaa;
  background:#fff;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05); 
}
main ul li.on a{
  /*on클래스가 추가되었을때 적용할 속성*/
  background:linear-gradient(45deg, #67faf3, #58abf8);
  box-shadow:0 5px 20px rgba(0,255,255,0.5);
  color:#fff;
}


/*미디어 쿼리*/
/*브라우저 폭이 1600px 미만일 때*/
@media screen and (max-width:1599px){
  header{
    width:350px;
  }
  main{
    margin-left:350px;
  }
  main section article{
    width:25%;
  }
}

/*브라우저 폭이 1200px 미만일 때*/
@media screen and (max-width:1199px){
  header{
    width:100%;
    height:80px;
    position:relative;
  }
  header h1{
    font-size:24px;
    transform:translateY(-50%);/*세로로 가운데 정렬*/
  }
  header h1::before,
  header h1::after{/*밑줄과 서브타이틀은 제거*/
    display:none;
  }

  header ul{
    left:auto;
    right:50px;
    bottom:25px;
    flex-wrap: nowrap;
    gap:20px;
  }
  header ul li a span{
    display:none;
  }
  main{
    width:100%;
    margin-left:0;
  }
}

/*브라우저 폭이 900px 미만일 때*/
@media screen and (max-width:899px){
  main section article {
    width:33.3333%;/*컨텐츠를 3줄 정렬로 변경*/
  }
}

/*브라우저 폭이 680px 미만일 때*/
@media screen and (max-width:679px){
  main section article {
    width:50%;/*컨텐츠를 2줄 정렬로 변경*/
  }
}

/*브라우저 폭이 540px 미만일 때*/
@media screen and (max-width:539px){
  header ul{/*아이콘 제거*/
    display:none;
  }
  main section article {
    width:100%;/*컨텐츠를 2줄 정렬로 변경*/
  }
  /*분류버튼*/
  main ul{
    margin-right:0;
    box-sizing:border-box;
    padding : 0 13px;
  }
  main ul li {
    margin-right:2%;
    width:32%;
  }
  main ul li:first-child{
    margin-right: 0;
  }
}

/*분류 버튼*/
main ul {
  width:100%;
  margin-bottom:10px;
  margin-right: 20px;
}

main ul::after{
  content:"";
  display: block;
  clear: both;
}

main ul li{
  float:right;

}
